
    <script src="/static/assets/js/vendor-all.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/static/assets/js/pcoded.min.js"></script>
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dailyreport').DataTable();
        });
        $(document).ready(function () {
            $('#monthlyreport').DataTable();
        });
        $(document).ready(function () {
            $('#hundreadmbpsreport').DataTable();
        });
        $(document).ready(function () {
            $('#onegbpsreport').DataTable();
        });
        $(document).ready(function () {
            $('#crcreport').DataTable();
        });
        $(document).ready(function () {
            $('#servierguestenabledreport').DataTable();
        });
        $(document).ready(function () {
            $('#servierguestdisabledreport').DataTable();
        });
        $(document).ready(function () {
            $('#tagonswitchesandcorereport').DataTable();
        });
        $(document).ready(function () {
            $('#tagfilteringonDevicesreport').DataTable();
        });
        $(document).ready(function () {
            $('#tagfilteringonswitchportsreport').DataTable();
        });
        $(document).ready(function () {
            $('#dfseventsreport').DataTable();
        });
    </script>